# Dependency directories
node_modules/
jspm_packages/

# Build outputs
.next/
.astro/
dist/
target/
*.jar
*.war
*.tar
*.tar.gz
*.zip
*.log

# Environment variables and secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example.local

# IDE and System files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local databases/temp files
db_postgres_data/
caddy_data/
caddy_config/
tmp/
